.header{
    display: flex;
    flex-direction: header;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.divContainer{
    display: flex;
    flex-direction: column;
    
    padding: 12px;
    box-shadow:white;
    background-color: #3572f4;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    
    border-color: white;
    border-style: solid;
}

#weather, #days{
    gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #2165f8;
    color: white;
}

#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}